{{#contentFor "body"}}

{{> help/instructions-generales}}

<!-- L'entete de l'aide AR n'est pas standard -->
<h4>Champs de l'entete :</h4>
<ul>
  <!-- <li><strong>N° AR</strong><br>
    Le numéro que vous souhaitez donner à votre accusé de réception.</li> -->

  <li><strong>N° Message</strong><br>
    {{> help/fields/numero-message-help}}
  </li>

  <li><strong>Niveau de confidentialité</strong><br>
    {{> help/fields/confidentialite-help}}
  </li>


  <li><strong>Date & Heure</strong><br>
    La date de l'ouverture du formulaire.<br>
    Le bouton permet de changer le format de l'heure en UTC ou locale.</li>

  <li><strong>Indicatif de la station</strong><br>
    {{> help/fields/indicatif-station-help}}
  </li>



  <li><strong>Indicatif de l'opérateur</strong><br>
    {{> help/fields/indicatif-operateur-help}}
  </li>

  <li><strong>Autorité origine</strong><br>
    L'autorité qui a émis le message. <br>
    <i>Ex: COGIC, COD, COZ, etc...</i>
  </li>


  <li><strong>Autorité destinataire</strong><br>
    L'autorité qui reçoit le message. <br>
    <i>Ex: COGIC, COD, COZ, etc...</i>
  </li>

  <li><strong>Indicatif du destinataire</strong><br>
    L'indicatif du radioamateur qui reçoit le message.</li>

</ul>



<!-- Les champs spécifiques à l'AR -->
<h4>Champs spécifiques :</h4>

<ul>
  <li><strong>Sujet</strong><br>
    Le sujet du message reçu. <br>
    <i>Recopier ici le sujet et le numéro du message reçu, pour lequel vous emettez l'accusé de réception. <br>
      Ce champ se remplit automatiquement avec le sujet du message reçu lorsque vous faite une réponse via Winlink (Menu
      Message/Reply)
    </i>
  </li>

  <li><strong>Commentaire</strong><br>
    Un commentaire sur le message reçu. <br>
    <i>Ex: Message reçu le 30/03/2025, Message reçu partiellement, etc...</i>
  </li>
</ul>



{{> help/help-footer}}

{{/contentFor}}

{{> help/help-panel}}