<!-- Aide Etat des réseaux : Commun à tous les formaulaire Standard -->

{{#contentFor "body"}}

{{> help/instructions-generales}}

<!-- Le formulaire 2tat des réseau à la même entete que les message standard -->
{{> help/message-standard-header-help}}

<!-- Les champs spécifiques au formulaire Etat des réseaux -->
<h4>Champs spécifiques :</h4>

<ul>
  <li><strong>Evènement</strong><br>
    Evenènement à déclarer parmis la liste de choix.<br>
    <i>Dans le cas ou l'évènement n'est pas dans la liste vous pouvez choisir Autre ; dans ce cas vous devez rensigner
      le champs Autre en saisie libre.</i>
  </li>

  <li><strong>Autre</strong><br>
    A saisir lorsque vous avez choisi 'Autre' dans le champ Evènement.<br>
    <i>Ce champ est obligatoire et ne peut etre modifier que si vous avez choisi 'Autre' dans le champ Evènement.</i>
  </li>

  <li><strong>Lieu de l'évènement</strong><br>
    Décriver le lieux où s'est produit l'évènement.
  </li>

  <li><strong>Situation</strong><br>
    Décrire un résumé de la situation.
  </li>


  <li><strong>Description de l'état des réseaux routiers et fluides</strong><br>
    Pour chacune des questions, répondre en sélectionnant une option dans la liste de choix et saisir un commentaire
    approprié.
  </li>

</ul>


{{> help/help-footer}}

{{/contentFor}}

{{> help/help-panel}}