<div class="help-panel" id="help-panel">

  <img id="close-btn" src="img/square-xmark-solid.svg" alt="Fermer">

  <div class="help-container">

    <h2>Aide en Ligne</h2>

    <h3>Aide du Formulaire FNRASEC {{title}}</h3>

    <p class="version">Version {{version}}</p>

    <div class="help-content">
      {{{block "body"}}}

      {{> help/indicatifs}}
    </div>
  </div>

</div>