<style>
  div.help-content {
    color: #333;
    margin-top: 30px;
  }

  li {
    margin-bottom: 10px;
  }

  .info {
    margin-top: 40px;
    font-size: 1.0rem;
    font-weight: bold;
    font-style: italic;
    color: #666;
  }

  .version {
    font-size: 0.8rem;
    font-style: italic;
    color: #666;
  }
</style>

<div class="help-panel" id="help-panel">
  <button class="close-btn" id="close-btn">Fermer</button>
  <h2>Aide en Ligne</h2>
  <h3>Aide du Formulaire FNRASEC {{title}}</h3>
  <p class="version">Version {{version}}</p>
  <div class="help-content">
    {{{block "body"}}}

    {{> help/indicatifs}}
  </div>
</div>