<p class="info">Le bouton envoyer permet d'envoyer les données du formulaire dans le message ouvert de l'application
  Winlink.</p>

<p>&nbsp;</p>

<p class="note">Pour toute question supplémentaire, veuillez contacter l'administrateur FNRASEC.</p>