<style>
  .indicatifs-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .indicatifs-table table {
    width: 100%;
    max-width: 250px;
    border-collapse: collapse;
    margin: 0 auto;
  }

  .indicatifs-table th,
  .indicatifs-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 50%;
  }

  .indicatifs-table th {
    background-color: #f2f2f2;
  }

  .indicatifs-table .highlight {
    background-color: lightyellow;
  }

  .indicatifs-table .green {
    background-color: lightgreen;
  }


  .indicatifs-table .pink {
    background-color: pink;
  }
</style>

<h3 id="indicatifs" style="margin-top: 50px;">Liste des Indicatifs</h3>
<p>Vous trouverez ci-dessous les indicatifs connus.</p>
<p>Si vous souhaitez contribuer pour mettre à jour cette liste contactez <a href="mailto:f8bnn@wanadoo.fr">Marc
    F8BNN</a></p>
<p>En vert ce sont les indicatifs recueillis dans la base ANFR. Ces derniers n'ont pas de licence VARA.</p>
<p>Pour ceux d'entre vous qui constateraient que leur ADRASEC n'a pas d'indicatif, demandez à votre président de faire
  la démarche "c'est gratuit" - Groupe Radio Club.</p>
<p>&nbsp;</p>


<!-- Zone Nord -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Nord</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>02</td>
        <td class="highlight">F8KCS</td>
      </tr>
      <tr>
        <td>59</td>
        <td></td>
      </tr>
      <tr>
        <td>60</td>
        <td class="highlight">F4KMR</td>
      </tr>
      <tr>
        <td>62</td>
        <td class="highlight">F4KCP</td>
      </tr>
      <tr>
        <td>80</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>COZ Nord</strong></td>
        <td class="pink">F8KIA</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone IDF -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone IDF</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>75</td>
        <td></td>
      </tr>
      <tr>
        <td>77</td>
        <td class="highlight">F8KSM</td>
      </tr>
      <tr>
        <td>78</td>
        <td class="green">F4KOG</td>
      </tr>
      <tr>
        <td>91</td>
        <td class="highlight">F8KRH</td>
      </tr>
      <tr>
        <td>92</td>
        <td></td>
      </tr>
      <tr>
        <td>95</td>
        <td class="highlight">F8KFB</td>
      </tr>
      <tr>
        <td><strong>COGIC</strong></td>
        <td class="pink">F6PCT</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Est -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Est</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08</td>
        <td class="highlight">F4KML</td>
      </tr>
      <tr>
        <td>10</td>
        <td></td>
      </tr>
      <tr>
        <td>21</td>
        <td></td>
      </tr>
      <tr>
        <td>25</td>
        <td class="highlight">F4KMP</td>
      </tr>
      <tr>
        <td>39</td>
        <td></td>
      </tr>
      <tr>
        <td>51</td>
        <td></td>
      </tr>
      <tr>
        <td>52</td>
        <td></td>
      </tr>
      <tr>
        <td>54</td>
        <td></td>
      </tr>
      <tr>
        <td>55</td>
        <td></td>
      </tr>
      <tr>
        <td>57</td>
        <td class="highlight">F4KNN</td>
      </tr>
      <tr>
        <td>58</td>
        <td class="highlight">F4KLV</td>
      </tr>
      <tr>
        <td>67</td>
        <td></td>
      </tr>
      <tr>
        <td>68</td>
        <td class="highlight">F4KWW</td>
      </tr>
      <tr>
        <td>71</td>
        <td class="highlight">F4KND</td>
      </tr>
      <tr>
        <td>88</td>
        <td class="green">F4KNM</td>
      </tr>
      <tr>
        <td>89</td>
        <td></td>
      </tr>
      <tr>
        <td>90/70</td>
        <td class="highlight">F4KMQ</td>
      </tr>
      <tr>
        <td><strong>COZ Est</strong></td>
        <td class="pink">F8KHX</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Sud-Est -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Sud-Est</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td class="green">F4KJT</td>
      </tr>
      <tr>
        <td>03</td>
        <td class="highlight">F5KEK</td>
      </tr>
      <tr>
        <td>03</td>
        <td class="highlight">F4KNW</td>
      </tr>
      <tr>
        <td>07</td>
        <td class="highlight">F4KMT</td>
      </tr>
      <tr>
        <td>15</td>
        <td></td>
      </tr>
      <tr>
        <td>26</td>
        <td class="green">F4KMW</td>
      </tr>
      <tr>
        <td>38</td>
        <td></td>
      </tr>
      <tr>
        <td>42</td>
        <td class="highlight">F4KIV</td>
      </tr>
      <tr>
        <td>43</td>
        <td class="green">F4KMY</td>
      </tr>
      <tr>
        <td>63</td>
        <td class="green">F4KNO</td>
      </tr>
      <tr>
        <td>69</td>
        <td></td>
      </tr>
      <tr>
        <td>73</td>
        <td class="green">F4KKG</td>
      </tr>
      <tr>
        <td>74</td>
        <td class="highlight">F4KMU</td>
      </tr>
      <tr>
        <td><strong>COZ Sud Est</strong></td>
        <td class="pink">F4KIZ</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Sud -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Sud</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>04</td>
        <td></td>
      </tr>
      <tr>
        <td>05</td>
        <td></td>
      </tr>
      <tr>
        <td>06</td>
        <td></td>
      </tr>
      <tr>
        <td>09</td>
        <td></td>
      </tr>
      <tr>
        <td>11</td>
        <td class="green">F4KMX</td>
      </tr>
      <tr>
        <td>12</td>
        <td></td>
      </tr>
      <tr>
        <td>13 (84)</td>
        <td class="highlight">F5KIS</td>
      </tr>
      <tr>
        <td>2A</td>
        <td></td>
      </tr>
      <tr>
        <td>2B</td>
        <td></td>
      </tr>
      <tr>
        <td>30</td>
        <td></td>
      </tr>
      <tr>
        <td>31</td>
        <td></td>
      </tr>
      <tr>
        <td>34</td>
        <td></td>
      </tr>
      <tr>
        <td>48</td>
        <td></td>
      </tr>
      <tr>
        <td>66</td>
        <td class="green">F4KMS</td>
      </tr>
      <tr>
        <td>81</td>
        <td></td>
      </tr>
      <tr>
        <td>82</td>
        <td class="highlight">F4KKL</td>
      </tr>
      <tr>
        <td>83</td>
        <td></td>
      </tr>
      <tr>
        <td>84 (13)</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>COZ Sud</strong></td>
        <td class="pink">F8KFG</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Sud-Ouest -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Sud-Ouest</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16</td>
        <td></td>
      </tr>
      <tr>
        <td>17</td>
        <td class="green">F5KOB</td>
      </tr>
      <tr>
        <td>19</td>
        <td class="highlight">F6KPC</td>
      </tr>
      <tr>
        <td>23 (87)</td>
        <td></td>
      </tr>
      <tr>
        <td>24</td>
        <td></td>
      </tr>
      <tr>
        <td>33</td>
        <td class="highlight">F5KFC</td>
      </tr>
      <tr>
        <td>40</td>
        <td></td>
      </tr>
      <tr>
        <td>47</td>
        <td></td>
      </tr>
      <tr>
        <td>64</td>
        <td></td>
      </tr>
      <tr>
        <td>79</td>
        <td></td>
      </tr>
      <tr>
        <td>86</td>
        <td class="highlight">F4KNG</td>
      </tr>
      <tr>
        <td>87 (23)</td>
        <td class="highlight">F6KTW</td>
      </tr>
      <tr>
        <td><strong>COZ Sud Ouest</strong></td>
        <td class="pink">F8KIE</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Ouest -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Ouest</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>14(50)</td>
        <td class="highlight">F8KGJ</td>
      </tr>
      <tr>
        <td>18</td>
        <td></td>
      </tr>
      <tr>
        <td>22</td>
        <td class="highlight">F8KFV</td>
      </tr>
      <tr>
        <td>27</td>
        <td></td>
      </tr>
      <tr>
        <td>28</td>
        <td></td>
      </tr>
      <tr>
        <td>29</td>
        <td></td>
      </tr>
      <tr>
        <td>35</td>
        <td class="highlight">F4JIC</td>
      </tr>
      <tr>
        <td>36(37)</td>
        <td></td>
      </tr>
      <tr>
        <td>37(36)</td>
        <td class="green">F5KBH</td>
      </tr>
      <tr>
        <td>41</td>
        <td></td>
      </tr>
      <tr>
        <td>44</td>
        <td class="highlight">F4KNC</td>
      </tr>
      <tr>
        <td>45</td>
        <td></td>
      </tr>
      <tr>
        <td>50 (14)</td>
        <td class="highlight">F8KGJ</td>
      </tr>
      <tr>
        <td>49</td>
        <td class="highlight">F4KNA</td>
      </tr>
      <tr>
        <td>45</td>
        <td></td>
      </tr>
      <tr>
        <td>53</td>
        <td></td>
      </tr>
      <tr>
        <td>56</td>
        <td></td>
      </tr>
      <tr>
        <td>61</td>
        <td></td>
      </tr>
      <tr>
        <td>72</td>
        <td class="green">F4KLJ</td>
      </tr>
      <tr>
        <td>76</td>
        <td></td>
      </tr>
      <tr>
        <td>85</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>COZ Ouest</strong></td>
        <td class="pink">F4KJC</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Zone Outremer -->
<div class="indicatifs-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Zone Outremer</th>
      </tr>
      <tr>
        <th>ADRASEC</th>
        <th>CALL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>972</td>
        <td></td>
      </tr>
      <tr>
        <td>973</td>
        <td></td>
      </tr>
      <tr>
        <td>974</td>
        <td class="highlight">FR4KT</td>
      </tr>
      <tr>
        <td>955</td>
        <td class="highlight">FK8PCT</td>
      </tr>
      <tr>
        <td><strong>COZ 974</strong></td>
        <td class="pink">FR4KT</td>
      </tr>
    </tbody>
  </table>
</div>