<!-- AIDE - Instriction générale à tous les pages d'aides -->

<p class="info">Ce formulaire permet d'envoyer un <b>message par Winlink.</b>.</p>

<h4>Instructions générales :</h4>
<ul>
  <!-- <li>Remplissez tous les champs obligatoires marqués d'un astérisque (*)</li> -->
  <li>Assurez-vous que les informations sont exactes et à jour</li>
  <li>Vérifiez vos données avant de soumettre le formulaire</li>
  <li>La <a href="#indicatifs">liste des indicatifs</a> par zone est disponible en bas de cette page.</li>
  <li>Lorsque vous cliquez sur le bouton "Envoyer", les données sont envoyées vers l'application Winlink.</li>
</ul>