{{#contentFor "body"}}

<p class="info">Ce formulaire permet d'envoyer un <b>message d'exercice</b>.</p>

<p class="warning">En cours d'écriture...</p>


<h4>Instructions générales :</h4>
<ul>
  <!-- <li>Remplissez tous les champs obligatoires marqués d'un astérisque (*)</li> -->
  <li>Assurez-vous que les informations sont exactes et à jour</li>
  <li>Vérifiez vos données avant de soumettre le formulaire</li>
</ul>

<h4>Champs spécifiques :</h4>

<ul>
  <li><strong>N° Message</strong><br>
    {{> help/fields/numero-message-help}}
  </li>

  <li><strong>Niveau de priorité</strong><br>
    Le niveau de priorité du message.
  </li>

  <li><strong>Niveau de confidentialité</strong><br>
    Le niveau de confidentialité du message.
    <ul>
      <li>DR <i>(D.... R...)</i></li>
      <li>Normal</li>
    </ul>
  </li>

  <li><strong>Date & Heure</strong><br>
    La date de l'ouverture du formulaire.<br>
    <i>Le bouton permet de changer le format de l'heure en UTC ou locale.</i>
  </li>

  <li><strong>Indicatif de la station</strong><br>
    L'indicatif de la station qui envoie le message.<br>
    <i>C'est l'indicatif configuré dans Winlink. Ce champ se rempli automatiquement.</i>
  </li>

  <li><strong>Indicatif de l'opérateur</strong><br>
    {{> help/fields/indicatif-operateur-help}}
  </li>

  <li><strong>Autorité origine</strong><br>
    L'autorité qui a émis le message. <br>
    <i>Ex: Cézoc SUD, COGIC, Préfecture, etc...</i>
  </li>

  <li><strong>Autorités destinataires</strong><br>
    La ou les autorités qui doivent recevoir le message. <br>
    <i>Ex: Cézoc SUD, COGIC, Préfecture, etc...</i>
  </li>

  <li><strong>Indicatifs du/des destinataire(s)</strong><br>
    Indicatif(s) du ou des destinataires du message.
    <i>C'est les indicatifs du ou des destinataires présents ou des organismes représentés (COD - COZ - COGIC)</i>
  </li>

  <li><strong>Sujet</strong><br>
    Le sujet du message reçu. <br>
    <i>Recopier ici le sujet du message reçu et pour lequel vous emettez l'accusé de réception.</i>
  </li>

  <li><strong>Message de l'autorité</strong><br>
    C'est le corp du message de l'autorité à transmettre.<br>
  </li>
</ul>

<p class="info">Le bouton envoyer permet d'envoyer les données du formulaire dans le message Winlink associé.</p>
<p>&nbsp;</p>
<p class="note">Pour toute question supplémentaire, veuillez contacter l'administrateur FNRASEC.</p>


{{/contentFor}}

{{> help/help-panel}}