<!-- Help Entete standard -->
<!-- Utilisé pour toutes les aides des formulaire (sauf AR) -->

<h4>Champs de l'entete :</h4>

<ul>
  <li><strong>N° Message</strong><br>
    {{> help/fields/numero-message-help}}
  </li>

  <li><strong>Niveau de priorité</strong><br>
    Le niveau de priorité du message.
  </li>

  <li><strong>Niveau de confidentialité</strong><br>
    {{> help/fields/confidentialite-help}}
  </li>


  <li><strong>Date & Heure</strong><br>
    La date de l'ouverture du formulaire.<br>
    <i>Le bouton permet de changer le format de l'heure en UTC ou locale.</i>
  </li>

  <li><strong>Demande de l'accusé de reception</strong><br>
    <i>A cocher si vous demandez un accusé de reception.</i>
  </li>

  <li><strong>Indicatif de la station</strong><br>
    {{> help/fields/indicatif-station-help}}
  </li>



  <li><strong>Indicatif de l'opérateur</strong><br>
    {{> help/fields/indicatif-operateur-help}}
  </li>

  <li><strong>Autorité origine</strong><br>
    L'autorité qui émet le message. <br>
    <i>Ex: COGIC, COD, COZ, etc...</i>
  </li>


  <li><strong>Indicatifs du/des destinataire(s)</strong><br>
    Indicatif(s) du ou des destinataires du message.<br>
    <i>Ce sont les indicatifs du ou des destinataires présents ou des organismes représentés (COD - COZ - COGIC)<br>
      Les indicatifs doivent être séparés par des ";"<br>
      Ex : F6PCT;F8KFG;F8KIA</i>
  </li>



  <li><strong>Autorités destinataires</strong><br>
    La ou les autorités recevoir le message. <br>
    <i>Ex: COGIC, COD, COZ, etc...</i>
  </li>
</ul>