<!-- Aide standard : Commun à tous les formaulaire Standard -->

{{#contentFor "body"}}

{{> help/instructions-generales}}

{{> help/message-standard-header-help}}

<!-- Les champs spécifiques au formulaire Standard -->
<h4>Champs spécifiques :</h4>
<ul>
  <li><strong>Sujet</strong><br>
    Le sujet du message reçu. <br>
    <i>Recopier ici le sujet du message reçu et pour lequel vous emettez l'accusé de réception.</i>
  </li>

  <li><strong>Message de l'autorité</strong><br>
    C'est le corp du message de l'autorité à transmettre.<br>
  </li>
</ul>

{{> help/help-footer}}

{{/contentFor}}

{{> help/help-panel}}