<script>
  function init() {
    setAccents();
  }

  function setAccents() {
    document.getElementById("vSender").innerHTML = setacc(document.getElementById("vSender").innerHTML);
    document.getElementById("vOrigine").innerHTML = setacc(document.getElementById("vOrigine").innerHTML);
    document.getElementById("vDestination").innerHTML = setacc(document.getElementById("vDestination").innerHTML);
    document.getElementById("vSubject").innerHTML = setacc(document.getElementById("vSubject").innerHTML);
    document.getElementById("vMessage").innerHTML = setacc(document.getElementById("vMessage").innerHTML);
  }
</script>


<section id="main">

  {{> message-standard-header-viewer}}


  <div class="grid-container">
    <div class="form-group">
      <label for="vSubject">Sujet</label>
      <span id="vSubject" class="code-block">{var vSubject}</span>
    </div>
  </div>

  <div class="grid-container">
    <div class="form-group">
      <label for="vMessage">Message de l'autorité</label>
      <pre id="vMessage" class="code-block">{var vMessage}</pre>
    </div>
  </div>


  <!-- Bouton IMPRIMER -->
  <div class="form-group button">
    <button id="printPageButton" onclick="javascript:window.print()">Imprimer</button>
  </div>

</section>