<script>
  function init() {
    // 
    // Event pour l'affichage du panel d'aide
    document.getElementById('help-link').addEventListener('click', function (event) {
      event.preventDefault();
      document.getElementById('help-panel').classList.add('active');
    });
    document.getElementById('close-btn').addEventListener('click', function () {
      document.getElementById('help-panel').classList.remove('active');
    });

    // 
    // Initialise la date et l'heure 
    SetDateToUTC();
  }
</script>

<section id="main">
  <form onsubmit="return confirm('Cliquez sur OK et fermez la fenêtre de navigateur vide.');" method="post"
    id="{{name}}Form" enctype="multipart/form-data" action="http://{FormServer}:{FormPort}">

    {{> message-standard-header-form}}

    <div class="grid-container">
      <div class="form-group">
        <label for="vSubject">Sujet</label>
        <textarea placeholder="Ex : Votre message 'Sujet du message' du 2025-03-20 15:00 UTC" name="vSubject"
          id="vSubject" title="Sujet du message" rows="1" required onkeyup="AutoGrowTextArea(this)"></textarea>
      </div>
    </div>

    <div class="grid-container">
      <div class="form-group">
        <label for="vMessage">Message de l'autorité</label>
        <textarea placeholder="Ecrire ou copier ici le message de l'autorité à transmettre" name="vMessage"
          id="vMessage" title="Message de l'autorité" rows="12" required onkeyup="AutoGrowTextArea(this)"></textarea>
      </div>
    </div>

    <div class="form-group button">
      <button type="submit">Envoyer</button>
    </div>


  </form>
</section>

{{> help/message-standard-help}}