<!-- <nav class="navbar">
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/about">À propos</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/AR-help">AR Help</a></li>
    <li><a href="#">Version {{version}}</a></li>
  </ul>
</nav> -->