<script>
  function init() {
    setAccents();
  }

  function setAccents() {
    document.getElementById("vSender").innerHTML = setacc(document.getElementById("vSender").innerHTML);
    document.getElementById("vOrigine").innerHTML = setacc(document.getElementById("vOrigine").innerHTML);
    document.getElementById("vDestination").innerHTML = setacc(document.getElementById("vDestination").innerHTML);
    document.getElementById("vSubject").innerHTML = setacc(document.getElementById("vSubject").innerHTML);
    document.getElementById("vComment").innerHTML = setacc(document.getElementById("vComment").innerHTML);
  }
</script>


<section id="main">

  <div class="grid-container3">
    <!-- <div class="form-group">
      <label for="vNumber">Numéro AR</label>
      <span id="vNumber" class="value-text">{var vNumber}</span>
    </div> -->

    <div class="form-group">
      <label for="vLieu">Message N°</label>
      <span id="vLieu" class="value-text">{var vLieu}/{var SeqNum}</span>
    </div>

    <div class="form-group">
      <label>Niveau de confidentialité</label>
      <span id="vConfid" class="value-text">{var vConfid}</span>
    </div>

    <div class="form-group">
      <label for="DateTime">Date & Heure</label>
      <span id="DateTime" class="value-text">{var DateTime}</span>
    </div>
  </div>

  <hr>

  <div class="grid-container3">
    <div class="form-group">
      <label for="msgSender">Indicatif de la station</label>
      <span id="vSender" class="value-text">{var msgSender}</span>
    </div>
  </div>

  <div class="grid-container3">
    <div class="form-group">
      <label for="vOper">Indicatif de l'opérateur</label>
      <span id="vOper" class="value-text">{var vOper}</span>
    </div>

    <div class="form-group">
      <label for="vOrigine">Autorité origine</label>
      <span id="vOrigine" class="value-text">{var vOrigine}</span>
    </div>
  </div>


  <div class="grid-container3">
    <div class="form-group">
      <label for="vTo">Indicatif du destinataire</label>
      <span id="vTo" class="value-text">{var vTo}</span>
    </div>

    <div class="form-group">
      <label for="vDestination">Autorité destinataire</label>
      <span id="vDestination" class="value-text">{var vDestination}</span>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label for="vSubject">Sujet</label>
    <span id="vSubject" class="value-text">{var vSubject}</span>
  </div>

  <div class="form-group">
    <label for="vComment">Commentaires</label>
    <span id="vComment" class="value-text">{var vComment}</span>
  </div>

  <!-- Bouton IMPRIMER -->
  <div class="form-group button">
    <button id="printPageButton" onclick="javascript:window.print()">Imprimer</button>
  </div>

</section>