<section id="main">

  <h1>FNRASEC Winlink Templates</h1>

  {{> nav}}

  <ul>
    <li>
      <a href="/FNRASEC_AR_FORM_Initial" class="form-link">AR Form (Initial)</a>
    </li>
    <li>
      <a href="/FNRASEC_AR_FORM_Viewer" class="form-link">AR Form (Viewer)</a>
    </li>
  </ul>

</section>