<section id="main">


  {{#each templates}}
  <h2>{{this.title}}</h2>
  <ul>
    <li>
      <a href="/FNRASEC_{{this.name}}_Initial" class="form-link">Formulaire de saisie</a>
    </li>
    <li>
      <a href="/FNRASEC_{{this.name}}_Viewer" class="form-link">Formulaire de visualisation</a>
    </li>
  </ul>

  {{/each}}

</section>