<!-- Indicatif de l'opérateur -->
<div>
  L'indicatif du radioamateur qui opère la station.<br>
  <i>Sur une opération de longue durée pendant laquelle plusieurs opérateurs se succédent, chacun met son
    indicatif.<br>
    <strong>Ceci dans un objectif de traçabilité.</strong><br>
    NB : Il y a des situations dans lesquelles l'indicatif de la station et l'ndicatif de l'opérateur sont les
    mêmes</i>
</div>