<!-- N° Message -->

<div>Le numéro du message est composé de 2 zones :
  <ul>
    <li>La première zone correspond à l'origine de l'opération : RASEC, COGIC, COZ-<i>Zone</i>, Outremer
      ou COD ; ou AR pour l'accusé de reception.</li>
    <li>La seconde zone est une séquence :
      <p>
        Cette séquence s'incrémente automatiquement à chaque ouverture d'un formulaire par Winlink.<br>
        <br>
        Pour le COGIC et les COZ, la séquence est un nombre sur 3 chiffres : 001, 002, ... 100, 101, etc..<br>
        <br>
        Pour les COD et les RASEC, la séquence un nombre sur 5 ou 6 chiffres (selon le département).
        Elle est composée du numéro du département de l'ADRASEC suivi de 3 chiffres.
        Par exemple pour le 13, la séquence sera sur 5 chiffres et pour le 974, la séquence sera sur 6 chiffres :
        13001, 13002, ... 974001, 974002, etc..<br>
        <br>
        Pour configurer le numéro de séquence : Dans Winlink, aller dans le menu Message/Templates Settings :
        <br><br>
        <img src="img/screen-winlink-template-settings.jpg" alt="Winlink Sequence Number">
      </p>
    </li>
  </ul>
  <p class="warning">Ces éléments sont importants pour la traçabilité des messages.</p>
</div>