<script>
  function init() {
    // 
    // Event pour l'affichage du panel d'aide
    document.getElementById('help-link').addEventListener('click', function (event) {
      event.preventDefault();
      document.getElementById('help-panel').classList.add('active');
    });
    document.getElementById('close-btn').addEventListener('click', function () {
      document.getElementById('help-panel').classList.remove('active');
    });

    // 
    // Initialise la date et l'heure 
    SetDateToUTC();
  }
</script>

<section id="main">
  <form onsubmit="return confirm('Cliquez sur OK et fermez la fenêtre de navigateur vide.');" method="post"
    id="MessageExerciceForm" enctype="multipart/form-data" action="http://{FormServer}:{FormPort}">
    <input name="TemplateVersion" type="hidden" id="TemplateVersion" value="{{version}}" />
    {{> message-standard}}
  </form>
</section>

{{> help/MessageExercice-help}}